.bigbox1 {
	background-color: #ff0000;
}

.bigbox2 {
background-color: #f89828;
}

.bigbox3 {
	background-color: green;
}

.bigbox4 {
	background-color: #ff0000;
}

.bigbox5 {
	background-color: green;
}

.bigbox6 {
	background-color: #b0a8ba;
}

.bigbox7 {
	background-color: #a1e5e4;
}

.bigbox8 {
	background-color: #c4b242;
}

.bigbox9 {
	background-color: #9c70dc;
}

.bigbox10 {
	background-color: #2e0966;
}

.bigbox11 {
	background-color: #a57e72;
}

.bigbox12 {
	background-color: #199784;
}

.bigbox13 {
	background-color: #7a4cae;
}

.bigbox14 {
	background-color: #cad768;
}

.bigbox15 {
	background-color: #64d3ec;
}

.bigbox16 {
	background-color: #0da645;
}

.bigbox17 {
	background-color: #6182ba;
}

.bigbox18 {
	background-color: #fded54;
}

.bigbox19 {
	background-color: #2d44b5;
}