
.greyBar  {
	background-color:#f4f4f4;
}

.topText {
	padding-top: 20px;
	text-align:center;
}

.text {
	padding-top: 20px;
	font-family: DM Sans;
}

.resume {
	font-family: DM Sans;
}

.experience {
	font-family: DM Sans;
}



